# .NET and Visual Studio specific files
.vscode/
.vs/
*.obj
*.pdb

# Build output
/*/bin/
/*/obj/
/*.dll
/*.exe

# Common files
*.xlsx
*.csv
*.txt

# Include test data
!RigCountProcessor.Tests/TestData/*.xlsx
!RigCountProcessor.Tests/TestData/*.csv

# Rider files
.idea/